.login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 100px;


    .item{
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-content: center;
        }

        input{
            padding: 20px;
            border: none;
            outline: none;
            background-color: rgba(17,25,40,0.6);
            color: white;
            border-radius: 5px;
        }

        label{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            text-decoration: underline;
            gap: 10px;
            img{
                width: 70px;
                height:70px;
                border-radius: 5px;
                object-fit: cover;
                opacity: 85%;
            }
        }
        button{
            width: 100%;
            border: none;
            padding: 20px;
            border-radius: 5px ;
            font-weight: 500;
            background-color: #0e88f3b8;
            cursor: pointer;

            &:hover{
                background-color: #1f8ff1;
            }
        }
    }
    .separator{
        height: 80%;
        width: 3px;
        background-color: #dddddd35;
    }
}